[class*="button--"] {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0; padding: 0;
    border: none;
    // border-radius: 4px;
    background-color: transparent;

    &[disabled] {
        pointer-events: none;
    }
}

.button--new {
    width: 18px; height: 18px;
    text-align: center;
    font-size: 1.5em;
    font-weight: bold;
    background-color: var(--colorPrimary500);
    color: #fff;
}

