:root {
  --colorPrimary500: #7e7eff;
  --colorPrimary300: #b0b0fc8f;
  --colorGreen500: #1EAF77;

  --heightTopHeader: 32px;
}

*, *:before, *:after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

a {
    color: #000;
    text-decoration: none;
}

ul {
    list-style-type: none;
}

input {
	width: auto;
	border: none;
}

@import url('https://fonts.googleapis.com/css2?family=Inter:opsz,wght@14..32,100..900&display=swap');
