@use 'globals';
@use 'flex';
@use 'some-componenet' as someComponenet;

$heightTopRow: 64px;

body {
    padding: 0 0;
}

.content {
    width: 1080px;
    margin: 0 auto;
}

main {
    flex: 5;
    border-left: 4px solid #000;
}


.lay-header, .lay-list, .lay-item  {
    flex-grow: 1;
    padding: 0 20px;
}

.lay-header {
    flex: 1;
}

.lay-list {
    flex: 2;
}

.lay-item {
    flex: 3;
}

.lay-toprow {
    height: $heightTopRow;
}

.logo {
    font-size: 36px;
    font-weight: 700;

    &::before {
        content: "";
        display: block;
        width: 24px; height: 24px;
        margin-right: 5px;
        background: #000;
    }
}


h1, h2 {
    font-size: 20px;
    font-weight: 700;
}

h1 {
    text-transform: uppercase;
}

.nav-main {
    ul {
        list-style-type: none;
        text-align: right;
        

        a {
            display: inline-block;
            padding: 8px 0;
            text-decoration: none;
            color: #000;

            &.active {
                font-weight: 700;
            }

            &:hover {
                text-decoration: underline;
            }
        }
    }
}
    
@media (min-width: 480px) {
    @include someComponenet.minWidth480()
}